<% if regular_signed_in? %>
 <p>Get ready to offer your services</p>
 <%= button_to 'Log out', destroy_regular_session_path, method: :delete %>
<% elsif admin_signed_in? %>
 <p>What kind of service do you want?</p>
 <%= button_to 'Log out', destroy_admin_session_path, method: :delete %>
<% end %>