hiiii this is the all transactions page
hi
<br />
    <ul>
    <% @list_transactions.each do |transaction| %>
        <%transaction_stock = transaction.stock_id%>
        <li>
        <%= transaction.created_at %> | <%=@stock.where(id: transaction.stock_id)[0].symbol%>
        </li>
    <% end %>
    </ul>