@import "tailwindcss/base.css";
@import "tailwindcss/utilities.css";
@import "tailwindcss/components.css";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

.gen-alert-notice {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #1A9C8A;
    font-family: 'Mulish';
    color: #FFFFFF;
    margin: auto;
    width: 50vmin;
    height: 20vmin;    
    -moz-animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation: cssAnimation 0.2s ease-in 1s forwards;
    -o-animation: cssAnimation 0.2s ease-in 1s forwards;
    animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    text-align: center;
    font-size: 0.8rem;
}

.gen-alert-error {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #7351C2;
    font-family: 'Mulish';
    color: #FFFFFF;
    margin: auto;
    width: 50vmin;
    height: 20vmin;    
    -moz-animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation: cssAnimation 0.2s ease-in 1s forwards;
    -o-animation: cssAnimation 0.2s ease-in 1s forwards;
    animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    text-align: center;
    font-size: 0.8rem;
}

.gen-alert-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}