/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

.gen-alert-notice {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #1A9C8A;
    color: #FFFFFF;
    margin: auto;
    width: 50vmin;
    font-family: 'Varela Round';
    height: 20vmin;    
    -moz-animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation: cssAnimation 0.2s ease-in 1s forwards;
    -o-animation: cssAnimation 0.2s ease-in 1s forwards;
    animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    text-align: center;
    font-size: 0.8rem;
}

.gen-alert-error {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3E2083;
    color: #FFFFFF;
    margin: auto;
    width: 50vmin;
    font-family: 'Varela Round';
    height: 20vmin;    
    -moz-animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation: cssAnimation 0.2s ease-in 1s forwards;
    -o-animation: cssAnimation 0.2s ease-in 1s forwards;
    animation: cssAnimation 0.2s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    text-align: center;
    font-size: 0.8rem;
}

.gen-alert-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}